:root {
    --main-blue: #1b5cff;
    --dark-blue: #0F2A44;
    --mid-blue: #4a8dff;

    --bg-gray: #d9e1ec;
    --text-gray: #1f2937;
    --sec-text-gray: #6b7280;

    --orange: #ff9f1c;
}

body {
    margin: 0px;
    width: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 5rem;
    margin: .5rem 4rem .5rem 4rem;
}

.nav-logo-text {
    font-family: "Inter";
    font-size: 2rem;
    color: var(--dark-blue);
}

nav ul a {
    justify-content: space-between;
    padding: 1.3rem;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: var(--text-gray);
}

.nav-rightside {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-icon {
    color: var(--text-gray);

}

.nav-icon i {
    font-size: 1.5rem;
}

.btn-login {
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--main-blue);
    color: var(--text-gray);
    border-radius: 8px;
    border-color: var(--main-blue);

}

.btn-login a {
    text-decoration: none;
    color: #fff;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
}

.img-hero {
    background-image: linear-gradient(to right, rgba(255, 255, 255, .9) 0%,rgba(255, 255, 255, .5)25%,rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0)90%), url(imagenes/imagenes_main/Grecia.jpg);
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Inter";
    font-size: 1rem;
    position: absolute
    
}

.dist {
    margin-left: 100px;
    margin-top: 0px; 
    margin-bottom: 30px;
    font-family: "Dancing Script", cursive;
    font-size: 6rem;

    color: var(--main-blue);
}

.tit {
    margin-left: 100px;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 1;
    color: var(--dark-blue);
}
    
.parr {
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1rem;
    line-height: 1.5 
}
